*.ipynb
*.js
live*
*.csv
*.log
.env
*.pyc
*.pyo
*.psd
*.bat
*.db
*.sh
__pycache__/
build/
dist/
settings.py
*.pem
*.ppk
*cache*/
*.json
*.service
Data/stocks.*
Keys/*
!Keys/readme.md
!Keys/__init__.py